{% extends"navbar.html" %}
{% from "includes/_formhelpers.html" import render_field %}
{% block title %} View Data {% endblock %}
{%block content%}
{% if current_user.is_authenticated and current_user.type == "patient"%}
{% if diagnosis.patient_id == current_user.id %}
<div class="jumbotron text-center">
    <h1>View Diagnosis</h1>
    <p>You are viewing your diagnosis</p>
</div>
<table class="table" id=data style="display: block;">
    <tbody>
        <tr>
            <th>Diagnosis</th>
            <td>{{diagnosis.diagnosis}}</td>
        </tr>
    </tbody>
</table>
{%endif%}
{%endif%}
{%endblock%}